.blog-cards-wrapper {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (min-width:576px) {
    .blog-cards-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 720px;
    }
}

.blog-card-title {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
}

.blog-card-image>img {
    width: 100%;
    object-fit: cover;
    height: 160px;
}

.blog-card {
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media screen and (min-width:576px) {
    .blog-card {
        width: calc((100% - 10px - 4px) / 2);
    }
}

.blog-card-info {
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.blog-card-body {
    padding: 4px;
}